page-profile-update {
    .thenav{
        background-image:linear-gradient(rgba(0, 0, 0, 0.473),#7a4579), url('../../assets/imgs/people.jpg');
        // background-attachment: fixed;
        // // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        height: 320px;
    }
    .back{
        color: whitesmoke;
    }
}
