page-profile-update {


    .thenav{
        background-image:linear-gradient(rgba(0, 0, 0, 0.473),#7a4579), url('../../assets/imgs/people.jpg');
        // background-attachment: fixed;
        // // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        height: 330px;
    }
    .back{
        color: whitesmoke;
    }
    // .item{
    //     // box-shadow: 1px 3px 2px;
    //     margin-bottom: 20px;
    //    margin-top: 20px;
    
    // }
   .itemi{
       box-shadow:1px 2px 3px;
       width: 95%;
    //    margin: 10px;
       margin-top: 30px;
       left: 10px;
}
    .upload{
        margin-top: 60px;
    }

    .pic2{

        height: 30vh;
        width: 60%;
        margin-top: 5%;
        border-radius: 120%;

    }
    // input[type='file']::-webkit-file-upload-button
    // {
    //     padding: 20 30;
    //     color: white;
    //     background-color: rgba(0, 0, 0, 0.473);
    //     border: none;
    // }
    .butt{
       background-color: block ;
    }

    // .tohide{
    //     visibility: hidden;
    // }
}
