<!--
  Generated template for the ProfileUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="thenav">
  <ion-navbar color="trans">
  </ion-navbar>
  <div *ngFor="let i of getProfile"  align="center">
    <ion-avatar>
      <img class="pic2" src="{{pic}}">
    </ion-avatar>
  </div>
  </div>
</ion-header>
  
<ion-content>
<ion-list>
    <ion-item *ngFor="let i of getProfile" class="itemi" no-lines  >
        <ion-label><ion-icon name="profile"  color="primary"></ion-icon></ion-label>
      <ion-input type="text" placeholder="New Username" [(ngModel)]="profile" ></ion-input>
   </ion-item>
<br>
   <ion-item class="upload">
      
     
     <div class="butt1" align="center">

      </div>
   </ion-item>
   
</ion-list>

<div align = "center">

    <button class="btn" ion-button color="nav" (click)="ImageCapture()">Take Picture</button>
<button color = "nav" ion-button (click)="saveData()">Update</button>

</div>
</ion-content>

