page-about {

    

    .icon{
        color: #8b104e;
        font-size: 2em;
        position: relative;
        right: 5%;
        bottom: 4px;
    }

    .btn{
        position: relative;
     //    right: 6%;
        top: 20px;
        height: 1%;
     }

     .card{
        border-radius: 8%;
        background-color: rgb(226, 234, 241)
    }

}
