page-about {
*font-size: 2em;
    .img{
        // background-image:linear-gradient(rgba(172, 166, 166, 0.418),rgba(172, 166, 166, 0.418)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top:5px;
        }
    

    .icon{
        color: #7a4579;
        font-size: 2em;
        position: relative;
        bottom: 10px;
        right: 10px;
    }

    .btn{
        position: relative;
     //    right: 6%;
        top: 5px;
        // height: 1%;
     }
.logo{
    top: 1px;
    // margin-left: 280px;
    // float: left;
}
     .card{
        // border-radius: 5%;
        // padding-left: 10%;
        // width: 90%;
        // margin-left: 10%;
        background-color: #ffffff00;
    }

    .head{
        font-size: 1.5em;
        font-weight: 100;
         
     }

    //  .item{
    //      background-color: #fffdfb00;
    //      color: white;
         
    //  }


     h2{
         color: #7a4579;
        
     }


     p{
         color: rgb(255, 255, 255);
         padding-right: 30px;
     }


     h1{
        text-align: center;
        font-weight: 100;
        color: grey;
        font-size: 2.1em;
    }
    
}
