page-login {

    .back{
        background-image:linear-gradient(#7a4579,rgba(0,0,0,0.5)), url('../../assets/imgs/people.jpg');
        background-attachment: fixed;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }

    .btn{
        width: 80%;
        position: relative;
        left: 9%;
        top: 80px;
        font-weight: 400;
        font-size: 1.3em;
        color: #7a4579;
<<<<<<< HEAD
        height: 45px;
        margin-bottom: 2%;
        background-color: aliceblue;
 
    }
 
=======
        border-radius: 50px;
        height: 45px;
        margin-bottom: 2%;
        background-color: aliceblue;

    }

>>>>>>> d724316a0628770b72789eb9e4c056895d92d40e
    .btn1{
        color: white;
        position: relative;
        top: 90px;
<<<<<<< HEAD
 
    }
 
=======

    }

>>>>>>> d724316a0628770b72789eb9e4c056895d92d40e
    .item{
        background-color: rgba(255, 255, 255, 0.171);
        color: rgb(255, 255, 255);
        width: 80%;
        position: relative;
        // left: 2%;
        height: 45px;
        top: 40px;
        border-radius: 30px;
        padding-left: 7%;
        font-size: 1.7em;
        font-weight: 100;
<<<<<<< HEAD
 
        ::-webkit-input-placeholder{
            color: aliceblue;
        }
 
=======

        ::-webkit-input-placeholder{
            color: aliceblue;
        }

>>>>>>> d724316a0628770b72789eb9e4c056895d92d40e
  }
  .list{
    position: relative;
    top: 10px;
<<<<<<< HEAD
 }
 .back{
    background-color:  #7a4579;
 }
 .image{
    position: relative;
    top: 60px;
 }
 
 
 h1{
=======
}
// .back{
//     background-color:  #7a4579;
// }
.image{
    position: relative;
    top: 130px;
}


h1{
>>>>>>> d724316a0628770b72789eb9e4c056895d92d40e
    color: white;
    font-weight: 100;
    text-align: center;
    // position: relative;
    // top: 100px;
<<<<<<< HEAD
    font-size: 3.3em;
    padding-top: 4%;
 
 
 }
//  .logo{
//      margin-bottom: 28px;
//  }
 
 p{
    color: white;
    text-align: center;
    // padding-top: 29%;
    margin-top: 50px;
 }
 }
=======
    font-size: 4em;
    padding-top: 4%;


}

p{
    color: white;
    text-align: center;
    padding-top: 29%;
}


}
>>>>>>> d724316a0628770b72789eb9e4c056895d92d40e
