page-register {
    .img{
       background-color: #7a4579;
       
    }

    .list{
        margin-top: 40%;
        background-color: #7a4579;
    }

    .button{
        margin-top: 5%;
        width: 100%;
        color: #7a4579;
        font-weight: 100;
        font-size: 1.3em;
    }

    .item{
        background-color: #ffffff4b;
        border-radius: 50px;
        color: #ffffff;
        margin-bottom: 2%;
        border: solid 2px white;
        font-weight: 100;
        font-size: 1.5em;
        width: 80%;

        ::-webkit-input-placeholder{
            color: rgb(235, 223, 223);
        }
    }

    h1{
        color: white;
        font-size: 4em;
        font-weight: 100;
        position: relative;
        top: 20%;
        text-align: center;
    }

    .image{
        position: relative;
        top: 100px;
    }

    p{
        color: white;
        font-weight: 100;
        position: relative;
        top: 2%;
        text-align: center;

    }

    

}
