page-register {
    .img{
        background-image:linear-gradient(#7a4579,rgba(0,0,0,0.5)), url('../../assets/imgs/works.jpg');
        background-attachment: fixed;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    .list{
        margin-top: 40%;
      
    }
 
    .button{
        margin-top: 5%;
        width: 90%;
        color: #ffffff;
        font-weight: 400;
        font-size: 1.3em;
        height: 50px;
        border-radius: 50px;
        // background-color: aliceblue;
    }
 
    .item{
        background-color: rgba(255, 255, 255, 0.171);
        border-radius: 50px;
        color: #ffffff;
        margin-bottom: 3%;
        // border: solid 2px white;
        font-weight: 100;
        font-size: 1.7em;
        width: 90%;
        

        ::-webkit-input-placeholder{
            color: aliceblue;
        }
    }
 
    h1{
        color: white;
        font-size: 3.3em;
        font-weight: 100;
        position: relative;
        top: 20%;
        text-align: center;
    }
 
    .image{
        position: relative;
        top: 80px;
    }
 
    p{
        color: white;
        font-weight: 100;
        position: relative;
        text-align: center;
 
    }
 
    .ico{
        color: white;
        font-size: 3em;
    }

   

    

}
