<ion-header>


  <div class="thenav">

    <ion-navbar color="trans"  > 

        <button ion-button clear fixed>
          <ion-icon class="back" name="md-create" (click)="presentModal()" ></ion-icon>
       </button>
        <!-- <div align="right"> -->
            <button ion-button clear fixed class="butt" (click)="Log($event)">
                <ion-icon class="more" name="md-more" ></ion-icon>
           </button>
    </ion-navbar>




    <div *ngFor="let i of profile" class="phot" align="center">
      <ion-avatar>
        <img class="image" src='{{i.img}}' imageViewer>
      </ion-avatar>
      <br>
      <h1>{{i.username}}</h1>
      <h2 class="mail">{{i.email}}</h2>
       <!-- <b class="mail"></b> -->
    </div>
  </div>
</ion-header>
<br>

<ion-content >
 
    
      <ion-title class="titles">Events to attend</ion-title>
      <h2 class="message">{{message}}</h2>
      <div align="center" >
          <ion-grid>
            <ion-row>
              <ion-col class="space" *ngFor="let i of fetching; let a = index" >
                <!-- <ion-card (click)="more(a)"> -->
                  <ion-card-content>
                      <img class="images" src="{{i.img}}" >
                  </ion-card-content>
                <!-- </ion-card> -->
              </ion-col>
            </ion-row>
          </ion-grid>

     

        </div>


        </ion-content>