page-contact {
    .B{ 
        position: relative;
        top: 150%;
        margin-left: 85%;
    }
    .B2{
        position: relative;
        top: 150%;
        margin-right: 85%;
   
    }
    .back{
        position: relative;
        font-size: 250%;
        color:whitesmoke;
    bottom: 40px;
        margin-left: 4px;
    }
    .more{
        position: relative;
        font-size: 250%;
    
    }
    // .phot{
    //     background-image: url('../../assets/imgs/color.jpg');
    //     background-size: cover;
    //     position: relative;
    //   bottom: 65px ;
    // }
    .pic1{
        height: 130px;
        width: 130px;
        border-radius: 70px;
         position: relative;
         margin-top: 70px;
    .phot{
        // background-image: url('../../assets/imgs/eventpic.jpg');
        background-size: cover;
        position: relative;
    //   margin-top: 20px ;
    }
    .pic1{
        height: 130px;
        width: 130px;
        border-radius: 70px;
         position: relative;
         margin-top: 70px;
    }
    .pic{
   height: 200px;
    width: 130px;
    top: 30px;
    }
      .pics{
          border: 2px solid blue;
      }      // border: solid 3px rgb(255, 255, 255);
.dash{
    background-color: rgba(53, 52, 52, 0.555);
    color: white;
    height: 26%;
    font-size: 50%;
    // position: relative;
    // bottom: 40px;
}
.space{
    height: 100px;
    position: relative;
    bottom: 4px;
    font-size: 15px;
    font-weight: 100;
}
.con{
    height: 10px;
    width: 10px;
    bottom: 10px;
    color: white;
}
}
.space{
    height: 100px;
    position: relative;
    bottom: 4px;
    font-size: 15px;
    font-weight: 100;
}
.picture{
    height: 140px;
    width: 140px;
    position: relative;
    bottom: 6px;
    border-radius: 100px;
    border: solid 10px #cec2ce81,
}
h1{
    color: white;
    font-weight: 100;
    position: relative;
    bottom: 30px;
}
.thenav{
    background-image:linear-gradient(rgba(0, 0, 0, 0.514),#7a4579), url('../../assets/imgs/people.jpg');
    // background-attachment: fixed;
    // // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    height: 320px;
}
.titles{
    font-size: 4em;
}
.image{
    height: 140px;
    width: 140px;
    position: relative;
    bottom: 6px;
    border-radius: 100px;
    border: solid 10px #cec2ce81,
}
}