<ion-header>

  <div class="thenav">

    <ion-navbar color="trans"  > 
        <div class="B">
            <button style="color: white" ion-button icon-only clear  (click)="presentPopover($event)" >
                 <ion-icon class="more" name="md-more" ></ion-icon>
            </button>
          </div>


          <div class="B2">
            
        </div>
    </ion-navbar>




    <div *ngFor="let i of profile" class="phot" align="center">
      <ion-avatar>
        <img class="image" src='{{i.img}}'>
      </ion-avatar>
      <br>
      <br>
      <h1>{{i.username}}</h1>
    </div>
  </div>
</ion-header>


<br>



<ion-content >
 
    
      <ion-title class="titles">Events to attend</ion-title>
      <div align="center" >
          <ion-grid>
            <ion-row>
              <ion-col class="space" *ngFor="let i of fetching; let a = index" >
                <img class="pic" src="{{i.img}}" (click)="more(a)">
              </ion-col>
              <!-- <ion-col class="space">
                <img class="pic" src='../../assets/imgs/arts.jpg'>
              </ion-col> -->
              <!-- <ion-col class="space">
                <img class="pic" src='../../assets/imgs/IMG-20181002-WA0011.jpg'>
              </ion-col> -->
            </ion-row>
          </ion-grid>
      <br>
      <br>
          <!-- <ion-grid>
            <ion-row>
              <ion-col class="space">
                <img class="pic" src='../../assets/imgs/Spring-Fi.jpg'>
              </ion-col>
              <ion-col class="space">
                <img class="pic" src='../../assets/imgs/Thumbnail.jpg'>
              </ion-col>
              <ion-col class="space">
                <img class="pic" src='../../assets/imgs/club_.jpg'>
              </ion-col>
            </ion-row>
          </ion-grid> -->
        </div>
<!--     
        <ion-fab class="fabi" right end fixed>
            <button class="faba" ion-fab color="nav" ><ion-icon class="if" name="arrow-dropleft"></ion-icon></button>
            <ion-fab-list side="left" >
              <button  color="dark" ion-fab><ion-icon name="md-log-out" (click)="logOut()"></ion-icon></button>
            </ion-fab-list>
          </ion-fab> -->


</ion-content>



