
<ion-header >

    <ion-toolbar color="nav">
      <ion-title>Upcoming Events</ion-title>
    </ion-toolbar>
    </ion-header>
   
    <ion-content padding class="card-background-page">

      <!-- <ion-card class="card" *ngFor="let a of fetching;let i of index;">
          <ion-card-header class="head" style="text-align: center">
              {{i.eventName}}
            </ion-card-header>
        <img class="image" src="{{i.img}}">
        <ion-card-content>
          <ion-card-title>
            <p style="display:block;text-overflow: ellipsis;width: 355px;overflow: hidden; white-space: nowrap;" ><b>{{a.eventDesc}}</b></p>
            </ion-card-title>
          <p>  <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
   
            {{a.location}}
          </p>
          <br>
         <div align="left">
          <button ion-button color="butt" (click)="viewMore(i)" outline>View more</button>
   
        </div>
          <h2 align="right">{{i.date}}</h2>
   
        </ion-card-content>
      </ion-card> -->
    
<h1>Upcoming</h1>
<h2 class="h2" (click)="viewAll()">View all</h2>

      <ion-slides  class="main"  >
          <ion-slide class="slide1" >
              <div *ngFor="let a of fetching2;let i of index;" class="main">
                    
                  <ion-card  (click)="viewMore(i)">
                      <img src="{{i.img}}"/>
                      <!-- <div class="card-title">{{i.eventName}}</div>
                      <div class="card-subtitle">{{a.location}}</div> -->
                    </ion-card>
              <!-- <ion-card>
                  <img class="image" src="{{i.img}}"/> -->
                  <!-- <ion-card-content>
                  <p style="color: black; font-weight: 500; padding-left: 10px">Color Fest</p>
                  <div align="left">
                  <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                  </div>
                   <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                 </ion-card-content> -->
                <!-- </ion-card> -->
              </div>
              </ion-slide>
           

          <ion-slide class="slide2">
              <div *ngFor="let a of fetching3;let i of index;" class="main">
              <!-- <ion-card> -->
                  <!-- <img class="image" src="{{i.img}}"/> -->
                  <ion-card (click)="viewMore(i)">
                    <img src="{{i.img}}"/>
                    <!-- <div class="card-title">{{i.eventName}}</div>
                    <div class="card-subtitle">{{a.location}}</div> -->
                  </ion-card>
                  <!-- <ion-card-content>
                    <p style="color: black; font-weight: 500; padding-left:10px">Color Fest</p>
                  <div align="left">
                  <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                  </div>
                   <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                  </ion-card-content> -->
                <!-- </ion-card> -->
                </div>
          </ion-slide>
        
          <ion-slide class="slide3">
              <div *ngFor="let a of fetching4;let i of index;" class="main">
             
                  <ion-card (click)="viewMore(i)">
                      <img src="{{i.img}}"/>
                      <!-- <div class="card-title">{{i.eventName}}</div>
                      <div class="card-subtitle">{{a.location}}</div> -->
                    </ion-card>
             
                <!-- <ion-card>
                  <img src="{{i.img}}"/>
                   -->
                  <!-- <ion-card-content>
                    <p style="color: black; font-weight: 500; padding-left: 10px">Color Fest</p>
                  <div align="left">
                  <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                  </div>
                   <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                  </ion-card-content> -->
                <!-- </ion-card> -->
              </div>
          </ion-slide>


          <ion-slide class="slide4" >
              <div *ngFor="let a of fetching5;let i of index;" class="main">
                    
                  <ion-card (click)="viewMore(i)">
                      <img src="{{i.img}}"/>
                      <!-- <div class="card-title">{{i.eventName}}</div>
                      <div class="card-subtitle">{{a.location}}</div> -->
                    </ion-card>
              <!-- <ion-card>
                  <img class="image" src="{{i.img}}"/> -->
                  <!-- <ion-card-content>
                  <p style="color: black; font-weight: 500; padding-left: 10px">Color Fest</p>
                  <div align="left">
                  <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                  </div>
                   <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                 </ion-card-content> -->
                <!-- </ion-card> -->
              </div>
              </ion-slide>
        </ion-slides>
     

      
        <h1>Near you</h1>
        <h2 class="h2">View all</h2>
        <ion-slides class="main" loop="true">
            <ion-slide class="slide1">
                <ion-card>
                    <img class="image" src="../../assets/imgs/iceeeee.jpg"/>
                    <ion-card-content>
                      <p style="color: black; font-weight: 500; padding-left: 10px">Color Fest</p>
                      <div align="left">
                      <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                      </div>
                       <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
  
            <ion-slide>
                <ion-card class="slide2">
                    <img class="image" src="../../assets/imgs/rib.jpg"/>
                    <ion-card-content>
                      <p style="color: black; font-weight: 500; padding-left: 10px">Color Fest</p>
                  <div align="left">
                  <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                  </div>
                   <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                    </ion-card-content>
                  </ion-card>
            </ion-slide>
          
            <ion-slide class="slide3">
                <ion-card>
                    <img class="image" src="../../assets/imgs/eventpic.jpg"/>
                    <ion-card-content>
                      <p style="color: black; font-weight: 500; padding-left: 10px">Color Fest</p>
                  <div align="left">
                  <p style="padding-left:10px"><ion-icon class="icon" name="pin"></ion-icon>&emsp;Braamfontein, No.1 Fox Str</p>
                  </div>
                   <p style="padding-left:10px"><ion-icon name="md-clock"></ion-icon>&emsp;31 Dec 2018 - 2 PM</p>
                    </ion-card-content>
                  </ion-card>
            </ion-slide>
          </ion-slides>
   
          
   </ion-content>



