page-home {

    .image{
        height: 330px;
    }

    .card{
        border-radius: 5%;
        background-color: rgb(226, 234, 241)
    }

    h2{
        position: relative;
        bottom: 20px;
        font-weight: 100;
    }
    .head{
       color: purple;
    }
    p{
        font-weight: 100;
    }
 
}

