page-home {
    .img{
         background-color: rgb(199, 189, 189);
    }
 
    .main{
        height: 40%;
        margin-top: 8%;
    }
    h1{
        font-size: 1.6em;
        letter-spacing: .1em;
        font-weight: 400;
        margin-left: .5em;
        color: rgba(#666, 1);
        text-transform: capitalize;
    }
    .h2{
        font-size: 1em;
        text-align: right;
        position: relative;
        bottom: 3%;
    }
    .image{
        height: 260px;
        width: 100%;
    }
    // p{
    //     text-align: left;
    //     font-size: 5em;
    // }   
    // .slide1{
    //     margin: 1px;
    // }
    .icon{
       color: #7a4579;
    }
    p{
    // padding-left: 20px;
    // padding-right: 20px;
    
      text-align: center;
      font-weight: bold;
    }

    .box{
        border: solid 2px grey;
    
    }
   
    .shade1{
        background-color: #666; 
        height: 19em;
    }
    // ion-slide.swiper-slide{
    //     right:10%
    // }
    
    // .card-background-page {
      
    //     ion-card {
         
    //         text-align: left;
    //         // position: relative;
    //         top: 20%;
    //         box-shadow: inset 0 0 3px rgba(gray, 0.8);
    //         height: 50vh;
    //         width: 170px;
          
    //     }
    //     background-color: rgb(236, 230, 230);
      
    //     img{
    //         -webkit-filter: blur(2px); 
    //             filter: blur(0px);
    //     }
    //     .card-title {
    //       position: absolute;
    //       top: 36%;
    //       font-size: 2.0em;
    //       width: 100%;
    //       font-weight: bold;
    //       color: rgb(255, 255, 255);
    //       margin-left: 30px;
    //       font-size: 3em;
    //     }
      

    //     .card-subtitle {
    //       font-size: 1.0em;
    //       position: absolute;
    //       top: 45%;
    //       width: 100%;
    //       color: #fff;
    //       margin-left: 30px;
    //       font-size: 1.5em;
    //     }
      
    //   }
    p.texts{
      word-wrap:  break-word;
    }
    // .scrollcontainer2{
    //     //   background: red;
    //       width: 100vw;
    //       display: flex;
    //       flex-direction: row;
    //       overflow-x: scroll;
    //       height: 19em;
    //       margin-top: .8em;
    //       .cardcontainer{
    //         margin-top: 2em;
    //         border-radius: 20px;
    //         height: 12em;  
    //         // background: blue;
    //         margin-right: 2em;
    //         flex: auto 0 0;
    //         display: flex;
    //         flex-direction: column;
    //         box-shadow: 3px 5px 5px black;
    //       .image{
    //           height:11em;
    //           width:13em;
    //           flex: 3 0 0;
    //           img{
    //               border-radius: 20px;
    //               width: 15em;
    //               height: 15em;
    //           }
    //         }

    //       .content{
    //           flex: 1 0 0;
    //           background: whitesmoke;
    //           height: 100%;
    //           .heading{
    //               margin: 0;
    //           }
    //           .text{
    //             //   font-size: 1em;
    //             color: #7a4579;

    //           }
    //       }
    //   }
    //   .cardcontainer:first-child{
    //       margin-left: .5em;
    //   }
    //   .cardcontainer:last-child{
    //       margin-right: 2rem;
    //   }

  
    // }
      .scrollcontainer{
        //   background: red;
          width: 100vw;
          display: flex;
          flex-direction: row;
          overflow-x: scroll;
          height: 22em;
          margin-top: .3em;
          .cardcontainer{
                height: 21em;  
                // background: blue;
                margin-right: 2em;
                flex: auto 0 0;
                display: flex;
                flex-direction: column;
                border-radius: 45px;
                box-shadow: 4px 9px 5px rgba(rgb(78, 78, 78), .6);
              .image{
                  flex: 3 0 0;
                  img{
                    border-top-left-radius: 40px;
                    border-top-right-radius: 40px;
                      width: 15em;
                      height: 15em;
                  }
                }


              .content{
                  flex: 1 0 0;
                  background: whitesmoke;
                  height: 100%;
                  .heading{
                      margin: 0;
                  }
                  .text{
                    //   font-size: 1em;
                    color: #7a4579;

                  }
              }
          }
          .cardcontainer:first-child{
              margin-left: .5em;
          }
          .cardcontainer:last-child{
              margin-right: 2rem;
          }


      }

      .scrollcontainer2{
        //   background: red;
          width: 100vw;
          display: flex;
          flex-direction: row;
          overflow-x: scroll;
          height: 22em;
          margin-top: .3em;
          .cardcontainer{
                height: 17em;  
                // background: blue;
                margin-right: 2em;
                flex: auto 0 0;
                display: flex;
                flex-direction: column;
                border-radius: 45px;
                box-shadow: 4px 9px 5px rgba(rgb(78, 78, 78), .6);
              .image{
                  flex: 3 0 0;
                  img{
                    border-top-left-radius: 40px;
                    border-top-right-radius: 40px;
                     border-bottom-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                      width: 15em;
                      height: 17em;
                  }
                }


              .content{
                  flex: 1 0 0;
                  background: whitesmoke;
                  height: 100%;
                  .heading{
                      margin: 0;
                  }
                  .text{
                    //   font-size: 1em;
                    color: #7a4579;

                  }
              }
          }
          .cardcontainer:first-child{
              margin-left: .5em;
          }
          .cardcontainer:last-child{
              margin-right: 2rem;
          }


      }
}



