page-home {

    .img{
         background-color: rgb(240, 240, 240);
    }

    .image{
        min-height: 400px;
    }
    .card{
        // border-radius: 5%;
        background-color: rgb(255, 255, 255)
    }
   
    h2{
        position: relative;
        bottom: 20px;
        font-weight: 100;
    }
    .head{
       font-size: 1.5em;
       font-weight: 100;
       background-color: #222;
       color: white;

    }


    p{
        font-weight: 100;
    }
 
}
