page-more-info {

    .nav{
       
        // background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
    }
 
    .color{
        background-color: rgb(211, 207, 207);
    }
 
    .dash{
       position: relative;
       top: 60%;
 
 
    }
 
    .icons{
        color: white;
    }
 
    h1{
        font-weight: 500;
        text-align: center;
        color: #7a4579;
    }
 
    h4{
        font-weight: 100;
        text-align: center;
        color: #7a4579;
    }
 
    h5{
        font-weight: 100;
        text-align: center;
        font-size: 90%;
 
    }
 
    .img{
        width: 40%;
        margin-left: 55%;
        position: relative;
        bottom: 85px;
    }
    h3{
        font-weight: 100;
        color: #000000;
        font-size: 90%;
    }
 
    // .things{
    //     // border: solid 2px white;
    //     position: relative;
    //     bottom: 25%;
    // }
 
    p{
        text-align: center;
        font-weight: 100;
        position: relative;
        bottom: 20px;
        color: #000000;
 
 
    }
 
    h2{
        text-align: center;
        font-weight: 100;
        color: #7a4579;
        position: relative;
        bottom: 15px;
    }
 
    .diiv{
        position: relative;
        bottom: 6%;
    }
 
    .button1{
        font-weight: 100;
        position: relative;
        bottom: 20px;
        border-radius: 50px;
 
    }
 
    .segments{
        position: relative;
        bottom: 4%;
 
    }
 
    .foot{
        background-color: #7a4579;
        height: 10%;
    }
 
    .fabs{
        background-color:#52075004;
        color: #7a4579;
    }
    .fabzz{
        background-color: #7a4579;
        width: 50px;
        height: 50px;
        color: white;
    }
 
 
 
 
 
 
 
 
 
 
 }
