page-more-info {
    .top{
        //background-image:linear-gradient(rgba(0, 0, 0, 0.384)), url('../../assets/65c8306ec56121463aa4f089845408a3.jpg');
        background-attachment: fixed;
        background-size: cover;
        // background-position: center;
        height: 50vh;
    }
    .dash{
        // position: relative;
        margin-top: 65%;
        background-image:linear-gradient(rgba(0,0,0,0.5),#7a4579), url('../../assets/imgs/people.jpg');
// opacity: 0.90;
    //    background:linear-gradient(rgba(231, 227, 227, 0),rgba(87, 2, 95, 0.322),#7b298a);
    //    background-color: #d33e55;
    }
    .i{
        color:whitesmoke;
        font-size: 250%;
        z-index: 1;
        margin-left: 70px;
    }
    h3{
        color: whitesmoke;
       
        // margin-top: 20px;
        // position: absolute;
    }
    .back{
        font-size: 250%;
        color:whitesmoke;
        margin-left: 10px;
        // position: relative;
        
    }
    .butt{
        float: left;
        margin-left: 90%;
        bottom: 49px;
        // position: relative;
    }
    .more{
        font-size: 250%;
        color:whitesmoke;
        // margin-left: 95%;
     
        // float: left;
        // position: relative;
        // margin-right: 20px;
        // // margin-top: 10px;
        // // bottom: 20px;
        // font-size: 250%;
        // position: relative;
    }
    .ii{
        font-size: 160%;
        // font-weight: bold;
        // font-family: Arial;
    }
    .if{
        font-size: 35px;
    }
    .head{
        color: white;
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
        text-shadow: 4px 8px 2px black;
        text-transform: capitalize;
    }
    .pic{
        
        // padding: 5px;
        height: 100px;
        width: 100px;
        border-radius: 80px;
     
        // overflow: hidden;
        // z-index: 1;
    }
    ion-fab.fabi{
        top: 260px;
    }
    .lab{
    position: absolute;
    margin-left: 110px;
    color: whitesmoke;
    }
    // button.faba{
    //     // box-shadow: 1px 3px 3px 2px black;
    // }
    
    // .add{
    //     font-size: 180px;
    // }
    .colo{
        padding-left: 30px;
        padding-right: 30px;
    }
    .phot{
        border-radius: 80px;
        background-color: white;
        top: 93%;
        padding: 5px;
        position: absolute;
        margin-left: 10px;
        // box-shadow: 1px 1px 2px;
        z-index: 1;
        // margin-bottom: 20px;
        // position: relative;
    }
    .title{
        margin-left: 120px;
        position: absolute;
        // color: whitesmoke;
        top: 105%;
    }
    .ic{
        font-size: 180%;
        margin-top: 25%;
    }
    p{
        font-size: 90%;
       
    
    }
    
    .p{
        font-size: 1.3em;
        text-transform: capitalize;
        
    }
    .dash{
        position: absolute; 
      
    }
    .content{
        margin-top: 38px;
    }
    }