page-more-info {

    .contents{
        height: 30rem;
        .navrow{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        .headings{
            margin-top: 5em;
            margin-left:1em;
            text-transform: capitalize;
            color: white;
            .heading{
                letter-spacing: .1em;
                font-size: 2.3em;
            }
        }

    }

    .menu{
        height: 4em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        box-shadow: 2px 5px 6px rgba(grey, .6);
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
        background-image:linear-gradient(360deg,#7a4579,rgba(0,0,0,0.5)), url('../../assets/imgs/people.jpg');
        img{
            height: 7em;
            width: 7em;
            border-radius: 50%;
            border: 3px solid white;
            position: relative;
            left: 1em;
            top: 1.5em;
            box-shadow: 2px 5px 6px rgba(grey, .6);
        }

        .i{
            display: block;
            padding: .68em;
            color: white;
            &:last-child{
                margin-right: 1em;
            }
            
            
        }

    }

    .posted{
        margin-left: 8.5em;
        font-weight: bold;
        font-size: 1em;
        box-shadow: none;
        position: fixed;
        display: block;
        background: white;
        width: 100vw;
    }
    .back{
        color: whitesmoke;
    }

    ion-content{
        margin-top: 5em;
        z-index: -999;
    }

    .item{
        height: 4em;
    }
    // .i{
    //     box-shadow: 2px 2px 4px black;
    //     background-color: none
    // }

    // ion-fab.fabi{
    //     top: 260px;
    // }
    // .lab{
    // position: absolute;
    // margin-left: 150px;
    // color: whitesmoke;
    // }
    // .colo{
    //     padding-left: 30px;
    //     padding-right: 30px;
    // }
   
    // .phot{
    //     border-radius: 80px;
    //     background-color: white;
    //     top: 93%;
    //     padding: 5px;
    //     position: absolute;
    //     margin-left: 10px;
    //     z-index: 1;
    // }
    // .title{
    //     margin-left: 120px;
    //     position: absolute;
    //     top: 105%;
    // }
    .ic{
        font-size: 180%;
        margin-top: 1em;
       
    }

    ion-thumbnail{
        margin: 0 !important;
    }
    // p{
    //     font-size: 90%;
       
    
    // }
    
    // .p{
    //     font-size: 1.3em;
    //     text-transform: capitalize;
        
    // }
    // .dash{
    //     position: absolute; 
      
    // }
    // .content{
    //     margin-top: 38px;
    // }
    .ii{
        display: block;
        padding: .68em;
        // color: white;
        &:last-child{
            margin-right: 1em;
        }
    }
    }
