
<ion-header *ngFor="let i of event;let i = index">


  <div class="contents"  [ngStyle]="{'background-image':color+'url(' + url + ')'}">
    <div class="navrow">
      <button ion-button clear fixed  (click)="back()">
        <ion-icon class="back" name="arrow-back" style="zoom: 1.5"></ion-icon>
      </button>
      <!-- <button ion-button clear fixed>
        <ion-icon class="more" name="more"></ion-icon>
      </button> -->
    </div>
    <div class="headings">
      <h1 class="heading">{{i.eventName}}</h1>
      <h3 class="subheading">{{i.location}}</h3>
    </div>
  </div>
  <div class="menu">
    <img class="im" src="{{i.hostimg}}" alt="image here">
    <ion-icon class="i" name="md-chatboxes" (click)="comment()" style="zoom: 1.5"></ion-icon>
    <ion-icon color={{colorState}} class="ii" name="md-heart" (click)="going()" style="zoom: 1.5"></ion-icon>
    <ion-icon class="i" (click)="share(i)" name="md-share" style="zoom: 1.5"></ion-icon>  
  </div>
  <p class="posted">Posted by: {{i.hostname}} <br>Contact: {{i.cellno}}</p>
</ion-header>


<ion-content *ngFor="let b of event">
  <ion-card-content>
    <ion-list no-line class="content">
      <ion-item>
        <ion-thumbnail item-start>
          <ion-icon class="ic" name="md-calendar"></ion-icon>
        </ion-thumbnail>
        <p>Event Date</p>
        <h2>{{b.date}} - {{b.enddate}}</h2>
      </ion-item>


      <ion-item>
        <ion-thumbnail item-start>
          <ion-icon class="ic" name="md-clock"></ion-icon>
        </ion-thumbnail>
        <p>Event Time</p>
        <h2>{{b.startTIme}} - {{b.endTIme}}</h2>
      </ion-item>


      <ion-item>
        <ion-thumbnail item-start>
          <ion-icon class="ic" name="logo-usd"></ion-icon>
        </ion-thumbnail>
        <p>Admission</p>
        <h2>{{fee}}</h2>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-content>
<ion-footer>
    <ion-toolbar>
          <button ion-button block color="nav"  (click)="navigate()">
              <ion-icon class="back" name="md-locate" style="zoom: 1">  Take me there</ion-icon>
            </button>
    </ion-toolbar>
  </ion-footer>