page-comments {
    .comments{
        height:90px;
        width: 85%;
        border: 2px solid #7a4579;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        font-size: 14px;
    }
    .send{
        height: 60px;
        width: 60px;
 
        bottom: 90px;
        right: 8px;
 
    }
    .foot{
        bottom: 5px;
    }
    .com{
        border: 2px solid rgb(250, 187, 221);
    }
    .date{
        font-weight: 100;
    }
 }