page-comments {
    .all{background-color: #fcedef;}
    
    .comments{

        // position: fixed;
        // bottom: 1vh;
        width: 98%;
        height:50px;  
        border: 2px solid #7a4579;
        border-radius: 10px;
        // padding-left: 2px;
        // padding-right: 2px;
        padding-top: 2px;
        // padding-bottom: 2%;

        font-size: 14px;
        // margin-left: 8px;
        // margin-bottom: 10px;
    }

    .tool{
        height: 10vh;
    }
    .cm{
        min-height:70px;
        //  width: 100%;
        // border: 2px solid #db3951;
        border-radius: 15px;
        // margin-top: 20px; 

    }.item{
        // bottom: 10px;
        box-shadow: 2px 2px 4px;

    }
    .send{
    // position: fixed;
    height: 50px;
    width: 55px;
    //  margin-right: 25px;
    border-radius: 50px;
    // border: 2px solid #db3951;
    }
    .date{
    font-weight: 30;
    }

    .downer{
        height: 8%;
         margin-top: 2px;
    }
    .text{
        margin-left: 2px;
        // position: relative;
        
    }
   
    span { float: right; 
    font-size: 14px;
    padding-top:5px;
    }

 }