page-comments {


    .all{
        background-color: #f3e8f3;
    // margin-top: 2px;
    // padding-left: 2px;
    // padding-right: 2px;
    // padding-bottom: 2px;
    }

    
    .comments{

        // position: fixed;
        // bottom: 1vh;
        width: 322px;
        height:60px;  
        border: 2px solid #7a4579;
        border-radius: 10px;
        padding-left: 8px;
        padding-top: 2px;

        font-size: 14px;
        // margin-left: 8px;
        // margin-bottom: 10px;
    }

    .tool{
        height: 10vh;
    }
    .com{
        min-height:70px;
        //  width: 100%;
        // border: 2px solid #db3951;
        border-radius: 15px;
        margin-bottom: 8px; 

    }.item{
        // bottom: 10px;
        box-shadow: 2px 2px 4px;

    }
    .send{
    // position: fixed;
    height: 50px;
    width: 55px;
    margin-right: 5px;
    border-radius: 30px;
    padding-bottom: 2px;
    // border: 2px solid #db3951;
    float: right;
    }
    .date{
    font-weight: 30;
    }

    .downer{
        height: 8%;
         margin-top: 2px;
    }

    .text{
        margin-left: 2px;
        // position: relative;
        
    }
   
    span { float: right; 
    font-size: 14px;
    padding-top:5px;
    }

 }